<p>winners works!</p>
 <!-- <div class="modal-body">
          <div>
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          </div>
          <div class="row p-3 text-light">
            <h4>Câștigătorii concursului din cadrul rubricii UN ALTFEL DE ADVENT vor fi anunțați săptămâna viitoare.
            </h4>
            <h4>Vă mulțumim pentru participare!</h4>
          </div>
          <div>
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          </div>
          <div class="row p-3 text-light">
            <h1>Sărbători Fericite!</h1>
          </div>
        </div> -->
        <div class="modal-body">
            <div class="justify-content-around d-flex"> 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉
            </div>
            <div class="p-3 text-light">
              <h5>
                Câștigătorii concursului din cadrul rubricii UN ALTFEL DE ADVENT:
              </h5>
              <div class="names p-3">
                <h4 class="row">🎉&nbsp;&nbsp;&nbsp;Elena G. </h4>
                <h4 class="row">🎉&nbsp;&nbsp;&nbsp;Emanuela S. & Co.</h4>
              </div>
              <h5>
                Mulțumim pentru participare! Veți primi detalii pe emailul cu care v-ați înscris în concurs!
              </h5>
            </div>
            <div class="justify-content-around d-flex"> 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉
            </div>
            <div class="text-light text-center py-3">
              <h4>
                La mulți ani!!!
              </h4>
            </div>
  
          </div>