<div class="song-card card mx-2 mt-2 mb-5" *ngIf="song">
    <div class="card-header">
        <div class="title h3 mb-0">
            Colțul cu muzică - Ziua {{song.id}}
        </div>
    </div>
    <div class="row mx-0">
        <span class="nav-menu mt-2 w-50">
            <app-navbar></app-navbar>
        </span>
        <span class="audio mt-2 w-50">
            <audio controls class="w-100">
                <source src="assets/{{song.mediaFile}}" type="audio/mpeg">
            </audio>
        </span>
    </div>
    <div class="card-body">
        <div class="row mx-0">
            <div class="col-sm-6 card-text p-3">{{song.text}} </div>
            <div class="col-sm-6">
                <img class="img-fluid img-thumbnail h-50" src="assets/{{song.image}}" alt="song-pic">
            </div>
        </div>
        <hr>
        <p class="text-muted small px-2">
            Text: {{song.textCredit}}&nbsp;&nbsp;|&nbsp;&nbsp;Interpretare:{{song.interpretare}}
        </p>
    </div>
</div>