.footer {
  // position: absolute;
  // bottom: 0;
  address {
    color: #fff;
    font-weight: 700;
  }
  .btn-contact {
    background: #a36666;
    color: #fff !important;
  }
  .up {
    color: rgb(226, 183, 183);
  }
}
