<footer class="footer pb-4">
  <a class="btn btn-sm btn-contact small mr-2 mr-lg-5" href="mailto:bucuriedeadvent@gmail.com" target="_blank">
    Contact&nbsp;
    <i class="fa fa-solid fa-envelope"></i>
  </a>
  <a class="btn btn-sm btn-contact small"> Concurs&nbsp;
    <i class="fas fa-trophy"></i>
  </a>
  <div style='text-align:left; margin-top: .4em;'>
    <iframe width="80%" height="20" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1169795239&color=%23e18181&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false">
    </iframe>
  </div>
</footer>

 


 