<footer class="footer pb-4">
  <a class="btn btn-sm btn-contact small mr-2 mr-lg-5" href="mailto:bucuriedeadvent@gmail.com" target="_blank">
    Contact&nbsp;
    <i class="fa fa-solid fa-envelope"></i>
  </a>
  <a class="btn btn-sm btn-contact small" (click)="showModal();"> Concurs&nbsp;
    <i class="fas fa-trophy"></i>
  </a>
  <div style='text-align:left; margin-top: .4em;'>
    <iframe width="80%" height="20" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1169795239&color=%23e18181&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false">
    </iframe>
  </div>
</footer>



<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header mx-auto">
      </div>
      <div *ngIf="(day<25&&month===12); else notAdvent" class="modal-body">
        <h5>
          Concursul nostru de la rubrica <br> 'UN ALTFEL DE ADVENT' <br> merge mai departe! <br>
          Dacă nu ai participat încă, mai este timp. <br>
          Te așteptăm!
        </h5>
        <div class="p-5">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
        </div>
        <h5>
          Deasemenea, dacă vrei să ne scrii și să ne lași idei, opinii, comentarii o poți face oricând prin intermediul
          butonului <a class="btn btn-sm btn-contact small mr-2 mr-lg-5" href="mailto:bucuriedeadvent@gmail.com"
            target="_blank">
            Contact&nbsp;
            <i class="fa fa-solid fa-envelope"></i>
          </a> <br>
          Ne-am bucura să ne scrii!
        </h5>
        <div class="p-5">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
        </div>

        <h5> Dacă nu te-ai înscris la concurs încă, o poți face aici:</h5>
        <!-- <h3 class="mb-3">Am pregătit un concurs! Nu-l rata! <br> <span>ÎNSCRIE-TE ACUM!!!</span> </h3> -->
        <div class="register-form">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Numele și Prenumele tău</label>
              <input type="text" formControlName="full_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }" />
              <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                <div *ngIf="f.full_name.errors.required">Completează Numele și Prenumele </div>
              </div>
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Completează emailul</div>
                <div *ngIf="f.email.errors.email">Emailul nu este valid</div>
              </div>
            </div>

            <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Sunt de acord cu salvarea și prelucrarea datelor mele.
              </label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                Acceptarea termenilor este necesară. Nu vom împărtăși informațiile tale cu alte persoane sau organizații
                fără permisiunea ta.
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-submit text-white">Vreau să particip</button>
              <button type="button" (click)="onReset()" class="btn btn-sm btn-cancel float-right text-white">
                Nu particip
              </button>
            </div>

          </form>
        </div>
      </div>
      <ng-template #notAdvent>
        <div class="modal-body">
          <div>
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          </div>
          <div class="row p-3 text-light">
            <h4>Câștigătorii concursului din cadrul rubricii UN ALTFEL DE ADVENT vor fi anunțați săptămâna viitoare.
            </h4>
            <h4>Vă mulțumim pentru participare!</h4>
          </div>
          <div>
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
            <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
          </div>
          <div class="row p-3 text-light">
            <h1>Sărbători Fericite!</h1>
          </div>
        </div>
        <div class="form-group m-2">
          <button type="button" (click)="onReset()" class="btn btn-sm float-right btn-submit text-white w-100">
           OK
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>








<!-- 
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header mx-auto">
        <h4 id="dialog-auto-name" class="modal-title text-center">Mai sunt {{noOfDaysToAdvent}} zile până începe <span id="advent">Adventul!</span>  </h4>
      </div>
      <div class="p-3">
        <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
        <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
        <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
        <img class="img-fluid w-25" src="assets/images/pitici-no-bg.png" alt="pitici">
      </div>
      <div class="modal-body">

        <h3 class="mb-3">Am pregătit un concurs! Nu-l rata! <br> <span>ÎNSCRIE-TE ACUM!!!</span> </h3>
     
        <div class="register-form">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Numele și Prenumele tău</label>
              <input type="text" formControlName="full_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }" />
              <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                <div *ngIf="f.full_name.errors.required">Completează Numele și Prenumele </div>
              </div>
            </div>

            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Completează emailul</div>
                <div *ngIf="f.email.errors.email">Emailul nu este valid</div>
              </div>
            </div>

            <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Sunt de acord cu salvarea și prelucrarea datelor mele. <i
                  class="fa fa-info-circle fa-xs" aria-hidden="true"
                  tooltip="Nu vom împărtăși, în nicio circumstanță, informațiile tale personale cu alte persoane sau organizații fără permisiunea ta, inclusiv cu organizații publice, corporații sau persoane fizice, cu excepția cazului în care este aplicabil prin lege.  Nu vindem, comunicăm sau divulgăm informațiile tale către nicio listă de corespondență."></i>
              </label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                Acceptarea termenilor este necesară
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-sm btn-submit text-white">Vreau să particip</button>
              <button type="button" (click)="onReset()" class="btn btn-sm btn-cancel float-right">
                Nu particip
              </button>
            </div>
            
          </form>
        </div>

        
      </div>
    </div>
  </div> 
</div> -->