.footer {
  position: absolute;
  bottom: 0;
  div {
    color: #fff;
    font-weight: 700;
  }
  .btn-contact {
    background: #88241c;
    color: #fff !important;
  } 
}


.btn-submit{
  background: -webkit-linear-gradient(rgb(167, 146, 103), rgb(163, 139, 31)) !important;
border: rgb(155, 134, 88)  2px solid !important;
}

.btn-cancel{
  border: rgb(155, 134, 88)  1px solid !important;

}
.modal-header {  
  border-bottom: 1px solid transparent;
}

.modal-content {
  background: linear-gradient(30deg,
      rgb(45, 95, 69) 0%,
      rgb(42, 80, 38) 35%,
      rgb(25, 88, 48) 100%);

  color: rgb(226, 214, 214) !important;
}

h3 span {
  background: -webkit-linear-gradient(rgb(238, 213, 161), rgb(163, 139, 31));
  -webkit-background-clip: text;
  /* -moz-background-clip: ; */
  -webkit-text-fill-color: transparent;
}

#advent{
  font-family: "Puppies Play", cursive;
  font-size: 6vh;
}