.footer {
    // position: absolute;
    // bottom: 0; 
    address {
        color: #490e0e;
        font-weight: 700;
    }
    .btn-contact{
        background: #a36666 ;
        color: #fff !important;
    }
}
