.navigation {
  ul {
    // background: #3b613d;
    // opacity: 0.8;
    list-style: none; 
    display: flex;
    padding: 0.5rem 0;
    justify-content: start;
    li{
      a{
        color:  rgb(227, 240, 229);
      }
    }
  }
}
