<div class="navigation">
    <ul>
        <li><a class="btn btn-sm text-white" routerLink="/story">Poveste /</a></li>
        <li><a class="btn btn-sm text-white" routerLink="/song">Cântec /</a></li>
        <li><a class="btn btn-sm text-white" routerLink="/craft">Activități /</a></li>
        <li><a class="btn btn-sm text-white" routerLink="/moms">Mămici /</a></li>
        <!-- <li> <button (click)="navigation.goBack()">Back to {{navigation.getPreviousUrl()}} </button></li> -->
    </ul> 
</div> 
<!-- <h3>History</h3>

<span *ngFor="let url of navigation.getHistory(); let i = index">    
    {{i}}={{url}}  
</span> -->