.navigation{
    ul {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
        justify-content: space-between; 
    
        // li {
        //     margin-left: .2em;
        //   }
      }      
}
.btn {
    background: #b5564e !important;
    border: #b5564e 2px solid !important;
}