<div class="navigation">
    <ul>
        <li><a routerLink="/story"><i class="fa-lg fas fa-book-open" aria-hidden="true"></i></a>
        </li>
        <li><a routerLink="/song"><i class="fa-lg fa fa-music" aria-hidden="true"></i>
            </a></li>
        <li><a routerLink="/craft"><i class="fa-lg fas fa-hands" aria-hidden="true"></i></a>
        </li>
        <li><a routerLink="/moms"><i class="fa-lg fa fa-female" aria-hidden="true"></i> </a>
        </li>
        <!-- <li> <button (click)="navigation.goBack()">Back to {{navigation.getPreviousUrl()}} </button></li> -->
    </ul>
</div>
<!-- <h3>History</h3>

<span *ngFor="let url of navigation.getHistory(); let i = index">    
    {{i}}={{url}}  
</span> -->