
<div class="navigation">
    <ul>
        <li><a class="btn btn-sm btn-outline-secondary" routerLink="/story">Povestea</a></li>
        <li><a class="btn btn-sm btn-outline-secondary" routerLink="/song">Colţul cu muzică</a></li>
        <li><a class="btn btn-sm btn-outline-secondary" routerLink="/craft">Craft</a></li>
        <li><a class="btn btn-sm btn-outline-secondary" routerLink="/moms">Mami</a></li>
    
        <!-- <li>
            <button (click)="navigation.goBack()">Back to {{navigation.getPreviousUrl()}} </button>
        </li> -->
    </ul>
      
</div>

<!-- <h3>History</h3>

<span *ngFor="let url of navigation.getHistory(); let i = index">    
    {{i}}={{url}}  
</span> -->