<div class="card mx-2 mb-5" *ngIf="momsCorner">
    <h1 class="card-header">
        Colțul mămicilor
    </h1>
    <div class="card-body">
        <audio controls loop class="w-100">
            <source src="assets/{{momsCorner.song}}" type="audio/mpeg">
        </audio>
        <div class="row">
            <div class="col-sm-6 card-text p-3">{{momsCorner.text}}
            </div>
            <div class="col-sm-6">
                <img class="img-fluid img-thumbnail" src="assets/{{momsCorner.image}}" alt="momsCorner-pic">
            </div>
        </div>

        <hr>
        <p class="text-muted small px-2">
            {{momsCorner.credit}}
        </p>
    </div>

</div>