<div class="mom-card card mx-2 mt-2 mb-5" *ngIf="momsCorner">
    <div class="card-header">
        <div class="title h3 mb-0">
            Colțul mămicilor - Ziua {{momsCorner.id}}
        </div>
    </div>
    <div class="nav-menu mt-2">
        <app-navbar></app-navbar>
    </div>
    <div class="audio mt-2">
        <audio controls loop class="w-100">
            <source src="assets/{{momsCorner.song}}" type="audio/mpeg">
        </audio>
    </div>
    
    <div class="card-body">
        <div class="row mx-0">
            <div class="col-sm-6 card-text p-0">{{momsCorner.text}}
            </div>
            <div class="col-sm-6 px-0">
                <img class="img-fluid img-thumbnail" src="assets/{{momsCorner.image}}" alt="momsCorner-pic">
            </div>
        </div>

        <hr>
        <p class="text-muted small px-2">
            {{momsCorner.credit}}
        </p>
    </div>

</div>