<div>
    <p>
        Dragostea este o decizie. <br>
        O decizie pe care o luăm
        în fiecare zi. <br> Dragoste pentru de cei de aproape sau cei de
        departe - de la familie până la persoana necunoscută de pe stradă sau din magazin.
    </p>
    <p class="bold">
        În fiecare din cele 24 de zile de Advent te provoc să exersezi dragostea practică.
    </p>
    <hr>
    <h5 class="text-danger"> Concurs:</h5>
    <p>
        <span class="text-danger">
            Surprinde unul sau mai multe momente reprezentative <br> <span class="lead" style="text-decoration: underline;">ale activității practice prezentate mai sus</span>, <br> care să exprime
            dragostea! Fă câteva poze și trimite-ni-le.
        </span> 
        <br>
        <br>

        1. Fii original.<br>
        2. Fii creativ.<br>
        3. Trimite poze pentru cât mai multe zile de provocare.<br>
        4. Nu pierde din vedere esența: exersează dragostea practică.
    </p>
</div>


<!-- <div class="contest-wrapp craft-card card mt-2 mb-5 mx-lg-5 px-lg-5 text-white">
    <div class="card-header row mx-0">
        <span class="col-12 col-md-6 title h3 px-0"> {{title}}</span>
    </div>
    <div class="card-body mt-2">
        <p> Dragostea lui Dumnezeu este motivul pentru care există Crăciunul. Dragostea l-a facut pe Isus să ia chip de
            copil și să coboare printre oameni. </p>
        <p>
            Familia, de asemenea, ne iubește. E drept că ne mai suparăm câteodată, însă acasă
            este locul unde învățam să devenim tot mai buni în a iubi.
        </p>
        <p>
            Dragostea este o decizie. <br>
            O decizie pe care o luăm
            în fiecare zi. <br> Dragoste pentru de cei de aproape sau cei de
            departe - de la familie până la persoana necunoscută de pe stradă sau din magazin.
        </p>
        <p>
            <strong>
                Provocarea acestui advent este decizia dragostei aplicate
            </strong> - în relația cu cei pe care-i cunoaștem sau nu, dar care au nevoie de o încurajare, de un ceai
            cald, de o pereche de mănuși, sau poate doar de o îmbrățișare. <br>
        </p>
        <p>
            În fiecare din cele 24 de zile de Advent te provoc să exersezi dragostea practică.
        </p>
        <p>
            <strong class="text-danger">
                Imortalizează câteva din momentele reprezentative, încarcă-le mai jos și trimite-ni-le.<br>
                1. Fii original.<br>
                2. Fii creativ.<br>
                3. Trimite poze pentru fiecare zi de provocare.<br>
                4. Nu pierde din vedere esența: exersează dragostea practică.
            </strong>
        </p>
    </div>
</div> -->