#count{
    font-family: "Puppies Play", cursive;
    font-size: 8vh;
    font-weight: bold;
    line-height: 0.6em;
    color: rgb(236, 247, 243);

}

.alert-danger{
    background: rgb(163, 102, 102) !important;
    border: none;
    color: aliceblue;
    font-size: 1.2em;
}