<div class="countdown-wrap row mx-0 mb-2 p-2">
    <div class="col-12 col-sm-12">
        <div class="d-flex">
            <div class="d-flex w-100 py-0">
                <div class="home">
                     <i class="fas fa-calendar-alt clickable text-white" (click)="goHome()"></i>
                </div>

                <div class="content mx-auto p-1">
                    <ng-template [ngIf]="daysToDecember >1">
                        <span id="count"> {{daysToDecember}}</span> de zile  
                        până la Crăciun!!!
                    </ng-template>
                    <!-- <ng-template [ngIf]="daysToDecember ==1">
                        DOAR o zi până la Crăciun!!! <br> Nu uita de concursul nostru!
                    </ng-template> -->
                    <ng-template [ngIf]="daysToDecember ==0">
                        E Crăciunul!!!
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>