#count {
  font-family: "Puppies Play", cursive;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 0.6em; 
  color: #ac8b88;
}

.fa-home {
  position: absolute;
  margin-left: 0em; 
  color:  #ac8b88;
  border: 2px solid  #ac8b88;

  padding: 0.45em 0.3em;
  border-radius: 50%;
}

.home {
  height: 100%;
  display: flex;
  align-items: center;
}
.content {
  height: 100%;
  border: none; 
  color: #ac8b88;
  font-size: 2em;
  text-align: center;
}
.alert-danger {
  background: rgb(163, 102, 102) !important;
}
