<div class="row mx-0 mt-5">
    <div class="wrap col-12 col-sm-12 p-2">
        <div id="card" class=" d-flex">
            <div class="alert alert-danger w-100 text-center" role="alert">
                <ng-template [ngIf]="daysToDecember >1">Mai sunt <span id="count"> {{daysToDecember}}</span> zile până
                    la Crăciun!!!
                </ng-template>
                <ng-template [ngIf]="daysToDecember ==1">
                    Mai este DOAR o zi până la Crăciun!!! <br> Nu uita de concursul nostru!
                </ng-template>
                <ng-template [ngIf]="daysToDecember ==0">
                    Astăzi este Crăciunul!!!
                </ng-template>
            </div>
        </div>
    </div>
</div> 