.card{
    background: transparent !important;
    border: 1px solid #c5adab;
    color: #dfc6c3; 
 } 
 .card-header{
  background: transparent;
  border-bottom:transparent;
}
.card {
  height: 20% !important;
}

.card-header {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center; 
  margin: 0 auto;
  font-size: 3vh;
}