<div class="row px-4 text-light">
    <p>În așteptarea Crăciunului, te invit în fiecare zi aici să ascultăm împreună istorioare cu semnificație, să
        confecționăm lucruri frumoase, să cântăm și să petrecem un timp minunat cu cei dragi.</p>
    <p>Descoperă mai jos POVESTEA, CÂNTECELUL și secțiunea de CRAFT pregătite special pentru tine. Iar pentru mămici,
        zilnic va fi un gând nou și încurajator, ca o îmbrățișare caldă.</p>
</div>
<div class="row day" *ngFor="let element of content">
    <span *ngIf="comingId==element.day">
        <!-- ID: {{comingId}} -->

        <div class="col-12 col-sm-12 p-4">
            <img id="parent" class="img-fluid img-thumbnail" src="../../../assets/images/newBG.jpeg" alt="candles">

            <!-- story button -->
            <div id="first" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic" (click)="getStory(storycontent)">
                <ng-template #storycontent>
                    <div class="wrapper">
                        <div class="modal-body"> 
                            <!-- unless it is one of the listed dates, audio tag won't be displayed -->
                            <audio *ngIf="comingId=='1' ||comingId=='5' ||comingId=='12' || comingId=='19' ||comingId=='24'"
                                controls class="w-100">
                                <source src="{{element.story}}" type="audio/mpeg">
                                    Lectura:
                            </audio>
                            <span class="small" *ngIf="comingId=='1' ||comingId=='5' ||comingId=='12' || comingId=='19' ||comingId=='24'">
                                Lectura: Emanuela Stoica
                            </span>
                            <div class="storyText modal-dialog modal-lg card-block  w-100">
                                {{transcriptStory}}
                            </div>
                           <a target="_blank" class="small" href="{{storyCredit}}">Aici poți găsi mai multe info interesante</a>
                        </div>
                    </div>
                </ng-template>
            </div>

            <!-- cantec button -->
            <div id="second" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic" (click)="getSomethingElse(elsecontent)">
                <!-- CONTENT ON CLICK -->
                <ng-template #elsecontent>
                    <div class="wrapper">
                        <div class="modal-body">
                            <audio controls class="w-100">
                                <source src="{{element.song}}" type="audio/mpeg">
                            </audio>

                            <div class="songText modal-dialog modal-lg card-block  w-100">
                                {{transcriptSong}}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>

            <!-- craft button -->
            <div id="third" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic" (click)="getActivity(craftcontent)">
                <!-- CONTENT ON CLICK -->
                <ng-template #craftcontent>
                    <div class="wrapper">
                        <div class="modal-body">

                            <div class="modal-dialog modal-lg card-block  w-100">
                                <h4>{{titleCraft}}</h4>
                                <img class="img-fluid" src="{{element.craft}}" alt="craft">
                                <img  class="img-fluid" src="{{element.craft2}}" alt=" ">
                                <img class="img-fluid" src="{{element.craft3}}" alt=" ">
                                <br>
                                <h6><strong>Materiale necesare</strong></h6>
                                <div> - {{descriptionCraft}}.</div>
                                <p class="small">
                                   Sursa de inspiratie: {{craftCredit}}
                                </p>
                                <br>
                                <p>Ascultă cele mai frumoase cântece de Crăciun în timp ce confecționezi ceva minunat.
                                </p>
                            </div>
                            <audio class="w-100" controls src="../../../assets/music/mixSarbatoriFericite.mp3"></audio>
                        </div>
                    </div>
                </ng-template>
            </div>

            <!--coltul mamicilor button -->
            <div id="fourth" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic" (click)="getMusic(mamicicontent)">
                <ng-template #mamicicontent>
                    <div class="wrapper">
                        <div class="modal-body moms">
                            <audio controls class="w-100">
                                <source src="{{element.momsCornerSong}}" type="audio/mpeg">
                            </audio>
                            <div class="modal-dialog modal-lg card-block w-100">
                                <div class="alert alert-success">
                                    <span class="lead">
                                        Cei înțelepți vor străluci ca strălucirea cerului, și cei ce vor învăța pe mulți
                                        să
                                        umble în neprihănire vor străluci ca stelele, în veac și în veci de veci. <br>
                                    </span>
                                    <span class="small">
                                        Daniel 12.3
                                    </span>
                                </div>

                                <div class="d-flex my-2">
                                    <div>
                                        ֍ ֍ ֍ ֍ ֍
                                    </div>
                                </div>

                                <!-- dynamic content -->
                                <div  class="alert alert-info">
                                    Ella fusese timp de cincizeci și doi de ani misionară în mijlocul pigmeilor din Africa. Îsi părăsise țara, familia și toate lucrurile cu care se obisnuise. Condițiile în care trăise acolo erau mai rău decăt primitive, în căldura arzătoare și umiditatea climei africane. Și nu avea cum să le schimbe, fiindcă electricitatea, aerul condiționat și alte avantaje de-ale tehnologiei moderne erau doar un vis. În unele zile, caldura era atât de insuportabilă, încât trebuia să aducă termometrul înăuntru fiindcă se defecta la peste 40  grade Celsius.

                                    Mimi, fiica Ellei, se tot întreba cum de reușise mama ei – cum de trăise o viață de mulțumire în condiții care l-ar fi făcut chiar și pe cel mai puternic om să se plângă. Nu demult Mimi a descoperit o comoară, mult mai prețioasă decât aurul sau argintul. Într-un vechi jurnal al mamei sale a găsit rețeta mulțumirii:
                                    
                                        Niciodată să nu iți ingădui să te plângi de ceva – nici chiar de vremea de afară.
                                        Niciodată să nu te imaginezi în vreo altă împrejurare sau loc.
                                        Niciodată să nu iți compari soarta cu a altuia.
                                        Niciodată să nu iți doresti ca ceva să fi fost altfel.
                                        Niciodată să nu te îngândureze ziua de mâine – amintește-ți că ea Îi aparține lui Dumnezeu, nu nouă. 
                                        <br>
                                        <a class="small" href="https://mamicile.wordpress.com/2009/01/15/reteta-multumirii/">D-ale mămicilor</a>  
                                </div>
                                <!-- dynamic content end -->




                                <div class="d-flex my-2">
                                    <div>
                                        ֍ ֍ ֍ ֍ ֍
                                    </div>
                                </div>

                                <!-- dynamic content -->
                                <div  class="alert alert-info">
                                  Nu ești invizibilă, chiar dacă uneori așa îți pare! E Cineva care vede <em> în ascuns </em> și te va recompensa!
                                   
                                </div>
                                <!-- dynamic content end -->
                                <div class="d-flex my-2">
                                    <div>
                                        ֍ ֍ ֍ ֍ ֍
                                    </div>
                                </div>

                                <div class="alert alert-warning">
                                    <h6>Ceai de iarnă</h6>
                                    <ul>
                                        <li>mere taiate felii subțiri (sau cubulețe)
                                        </li>
                                        <li>
                                            o lamaie mică decojită + felii de lămâie
                                        </li>
                                        <li>
                                           scorțișoară
                                        </li>
                                        <li>
                                            miere de albine (dupa gust)
                                        </li>
                                        <li>
                                            apă fierbinte
                                        </li>
                                    </ul>

                                </div>

                                <div class="d-flex my-2">
                                    <div>
                                        ֍ ֍ ֍ ֍ ֍
                                    </div>
                                </div>

                                <!-- dynamic content -->
                                <div  class="alert alert-info">
                                    Pentru a avea de unde să dăruiești, ai nevoie să primești. <br>
                                    Pentru a putea învăța pe alții, ai nevoie să înveți. <br>
                                    Pentru a fi în stare să iubești, ai nevoie să fii iubită.
                                    <br>
                                    Ești iubită, dragă mămică! Ești <em>iubibilă </em>! Ești de neînlocuit! Ești prețioasă! Ești
                                    minunată! <br>
                                    Ești iubită cu o iubire veșnică! <br>
                                    Ești plătită cu preț dumnezeiesc iar valoarea ta este dată de identitatea ta: <strong>Îi
                                        aparții! </strong>
                                </div>
                                <!-- dynamic content end -->
                                <div class="d-flex my-2">
                                    <div>
                                        ֍ ֍ ֍ ֍ ֍
                                    </div>
                                    <br>
                                </div>
                                <div class="alert alert-warning">
                                    <h6>Ciocolată caldă pentru diminețile tale reci</h6>
                                    <ul>
                                        <li>250 de mililitri de lapte
                                        </li>
                                        <li>
                                            o lingură de zahăr
                                        </li>
                                        <li>
                                            100 de grame de ciocolată amăruie
                                        </li>
                                        <li>
                                            frișcă sau bezele
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>



        </div>
        <!-- END CONTENT ON CLICK -->

    </span>

</div>


<style>
    audio {
        filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
        width: 200px;
        height: 25px;
    }
</style>