.selected {
    vertical-align: middle;
}
.btn-submit{
    background: -webkit-linear-gradient(rgb(167, 146, 103), rgb(163, 139, 31)) !important;
border: rgb(155, 134, 88)  2px solid !important;
}
.btn-cancel{
    border: rgb(155, 134, 88)  2px solid !important;

}
.modal-header {  
    border-bottom: 1px solid transparent;
}