.container-fluid{
padding: 0;
}

.selected {
    vertical-align: middle;
}


.btn-year {
    // background: #b5564e;
    color: rgb(227, 240, 229) !important;
    border: #c0aeac 1px solid;
  } 
.data{
    margin: 0 1.5em ;
}