<div class="wrapper container-fluid h-100">
  <div>
    <app-countdown></app-countdown>
  </div>
  <div class="data">
    <div class="years-btns row mx-0 mt-4 mb-3 my-md-5 my-lg-4">
      <button [ngClass]="{ active: highlightedButton === 2 }" class="btn-year btn btn-sm mr-2"
        (click)="set2022()">2022</button>

      <button [ngClass]="{ active: highlightedButton === 1 }" class="btn-year btn btn-sm text-white mr-2"
        (click)="set2021()">2021</button>
    </div>
    <router-outlet></router-outlet>
    <div class="w-100 footer-wrap">
      <app-footer></app-footer>
    </div>
  </div>
</div>