.nav {
   margin-left: auto;
}
.card-text {
   white-space: pre-wrap;
}
.btn-contest {
   border: #c0aeac 1px solid;
}
.clickable {
   cursor: pointer;
}

.credit-link {
   text-decoration: underline;
}
