<style>
    .nav {
        margin-left: auto;
    }
</style>
<div class="craft-card card mt-2 mb-5 mx-lg-5 px-lg-5" *ngIf="craft">
    <div class="card-header row mx-0">
        <span class="col-12 col-md-6 title h3 px-0"> {{craft.title}} - Ziua {{craft.id}}</span>
        <span class="col-12 col-md-6 nav nav-menu">
            <app-navbar class="ml-sm-auto"></app-navbar>
        </span>
    </div>
    <div class="card-body my-3">
        <p class="card-text" [ngClass]="craft.text.includes('Materiale necesare:')  ? 'strong' : ''">
            {{craft.text}} </p>
        <div class="row mx-0">
            <div class="col-sm-12 col-md-12 col-lg-6 my-1 px-0" *ngFor="let img of craft.images">
                <a href="assets/{{img}}" download="img_download" class="clickable">
                    <img class="img-fluid img-thumbnail w-75 " src="assets/{{img}}" alt="craft">
                </a> 
            </div>
        </div>

        <div *ngIf="craft.questions">
            <p class="card-text"> {{craft.questions}}</p><br>
        </div><br>
        <div *ngIf="craft.credit" class="text-white">
            <app-contest></app-contest>

            <a href="mailto:bucuriedeadvent@gmail.com" target="_blank"
                class="btn-contest btn btn-sm text-white mb-5">Trimite pozele pe email</a>
        </div>

        <p *ngIf="craft.credit" class="text-muted small mt-5">
            Resurse: {{craft.credit}}
        </p>
    </div>

</div>