<div class="calendar-wrapp row px-1 mx-lg-5 px-lg-5 my-2"><!-- my-md-5 my-lg-4-->
    <div class="col-3 p-2 p-md-2 p-lg-2 col-sm-3 col-md-3 col-lg-2" *ngFor="let d of days">
        <div id="card" class="d-flex justify-content-center">
            <!--  [ngClass]="{'active': d.id ==day}" -->
            <div [ngClass]="{'active': d.id ==day}" id="day" class="btn p-1 py-sm-1 py-md-4 mx-md-3 py-lg-4 mx-lg-4" (click)='goToContent(d.id)'>
                <span class="calendar-number">
                    {{d.id}}
                </span>
            </div>
        </div>
    </div>
</div>

<style>
    .calendar-wrapp{
        overflow-y: scroll;
    }
</style>