
<div class="row mx-0 my-auto">
    <div class="wrap col-3 col-sm-3 col-md-4 col-lg-2 p-2" *ngFor="let d of days">
        <div id="card" class=" d-flex justify-content-center">
    
            <div id="day" [ngClass]="{'active': d.id ==day}" class="btn py-sm-1 py-md-5 px-md-0 py-lg-5" (click)='goToContent(d.id)'>
                <span class="text">
                    Ziua
                </span> <br>
                <span class="number">
                {{d.id}}
                </span>
            </div>
        </div>
    </div>
</div>


<!-- <a href="https://www.vecteezy.com/free-vector/christmas-pattern">Christmas Pattern Vectors by Vecteezy</a> -->
<!-- <a href="https://www.vecteezy.com/free-vector/christmas-pattern">Christmas Pattern Vectors by Vecteezy</a> -->