#card {
  /* The image used */
  background-image: url("../../../assets/images/vecteezy3.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
  border-radius: 0.2em;
}

.col-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#day {
  font-family: "Puppies Play", cursive;
  text-align: center;
  color: rgb(55, 133, 102);
  opacity: 0.9;
  background: #dfc6c3;
  width: 100%;
  border-radius: 50%;
  margin: 0.1em 0.2em; 
  cursor: pointer;
  opacity: 0.8;
  border: #cb3939 solid 1px;
  box-shadow: 1px 4px 8px black;
}
.calendar-wrapp .calendar-number {
  font-size: 4.5em;
  line-height: 0.5em;
}

.active {
  background: #87e093 !important;
  color: rgb(214, 74, 74) !important;
  border-radius: 50%;
  font-weight: 700;
  border: #39cb59 solid 1px;

  box-shadow: 1px 1px 0 #bee5d3, 0 0 20px 5px #49ad82, inset 12px 12px 0 #8fddbb;
}
