<div class="card mx-2 mt-2 mb-5" *ngIf="story">
    <span class="card-header">
        <span class="h1">
            Poveste
        </span>
        <span class="float-right">
            <app-navbar></app-navbar>
        </span>
    </span>

    <div class="card-body">
        <h5>{{story.title}} - Ziua {{story.id}}<br>
            <span class="small text-muted">
                {{story.author}}
            </span>
        </h5>
        <audio *ngIf="story.voice" controls class="w-100">
            <source src="assets/{{story.mediaFile}}" type="audio/mpeg">
        </audio>
        <span *ngIf="story.voiceContact" class="small">
            Lectura: <a class="" target="_blank" href="{{story.voiceContact}}"><strong>
                    {{story.voice}} <i class="fab fa-facebook-square mx-1"></i></strong></a>
        </span>
        <hr>
        <p class="card-text">{{story.text}}
        </p>
        <div class="text-muted small">
            <hr>
            {{story.credit}}
        </div>
    </div>

</div>

<!-- implement event handler which calls the function in the parent to display other components (song, mom s corner, craft) -->