<div class="card mx-2" *ngIf="story">
    <h1 class="card-header text-center">
        Poveste
    </h1>
    
    <div class="card-body">
        <h5>{{story.title}} <br>
            <span class="small text-muted">
                {{story.author}}
            </span>
        </h5>
        <audio controls class="w-100">
            <source src="assets/{{story.mediaFile}}" type="audio/mpeg">
        </audio>
        <span class="small">
            Lectura: <a class="" target="_blank" href="{{story.voiceContact}}"><strong>
                    {{story.voice}} <i class="fab fa-facebook-square mx-1"></i></strong></a>
        </span>
        <hr>
        <p class="card-text">{{story.text}}
        </p>
        <div class="text-muted small">
            <hr>
            {{story.credit}}
        </div>
    </div>

</div> 