<div class="story-card card mt-2 mb-5" *ngIf="story">
    <div class="card-header">
        <div class="title h3 mb-0">
            {{story.title}} - Ziua {{story.id}}
            <span class="small text-muted">
                ({{story.author}})
            </span>
        </div>
    </div>
    <div class="row mx-0">
        <span class="nav-menu mt-2 w-50">
            <app-navbar></app-navbar>
        </span>
        <span class="audio mt-2 w-50">
            <audio controls *ngIf="story.voice" controls class="w-100">
                <source src="assets/{{story.mediaFile}}" type="audio/mpeg">
            </audio>
            <span *ngIf="story.voiceContact" class="small">
                Lectura: <a class="" target="_blank" href="{{story.voiceContact}}"><strong>
                        {{story.voice}} <i class="fab fa-facebook-square mx-1"></i></strong></a>
            </span>
        </span>
    </div>
    <div class="card-body mt-2">
        <p class="card-text mb-4">{{story.text}}</p>
        <div *ngIf="story.credit" class="text-muted small pb-3">
            <hr>
            {{story.credit}}
        </div>
    </div>

</div>

<!-- implement event handler which calls the function in the parent to display other components (song, mom s corner, craft) -->