<div class="p-2 my-5">
    <div class="row px-4 text-light" class=" mb-md-5  mb-lg-5">
        <h4 class=" mb-md-5  mb-lg-5"></h4>
    </div>
    <!-- <div class="row christmas-day">
        <h1 class="rotate col-12 col-sm12 col-md-4">Marta Stoica</h1>
        <h1 class="rotate col-12 col-sm-12 col-md-4">Alex Stoica</h1>
        <h1 class="rotate col-12 col-sm-12 col-md-4">Rareș Apostu</h1> 
    </div> -->
    <div class="row p-3 text-light">
        <h4>Câștigătorii concursului din cadrul rubricii UN ALTFEL DE ADVENT vor fi anunțați săptămâna viitoare.</h4>
        <h4>Vă mulțumim pentru participare!</h4>
    </div>
    <div class="row p-3 text-light">
        <h1>Sărbători Fericite!</h1>
    </div>
    
</div>


<style>
    .christmas-day {
        height:10em;
    }
    

   
  
</style>