@import "../node_modules/bootstrap/scss/bootstrap";
///whaaaat????
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(30deg, rgb(45, 95, 69) 0%, rgb(66, 131, 59) 35%, rgb(25, 88, 48) 100%);
  background-repeat: no-repeat;
}
.clickable {
  cursor: pointer;
}

audio{
  opacity: .4;
  background-color: #fff !important;
}

.story-card.card,
.song-card.card,
.craft-card.card,
.mom-card.card {
  border: 0px solid transparent;
  background-color: transparent;
  .card-header {
    background-color: rgb(227, 240, 229);
    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
  }
  .card-body{
    padding: .2rem 0 ;
  }
  audio {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
}

// ========================================

@media (max-width: 600px) and (max-height: 926px) {
  .calendar-wrapp {
    height: 70% !important;
    max-height: 75% !important;
  }
  .countdown-wrap #count {
    font-size: 1.8em !important;
  }
  .countdown-wrap .content {
    font-size: 2em !important;
  }
  .calendar-wrapp .calendar-number {
    font-size: 3.3em !important;
    line-height: 1em !important;
  }

  .story-card,
  .song-card,
  .craft-card,
  .mom-card {
    .card-body {
      overflow-y: scroll;
    }
    height: 70%;
    .title {
      font-size: 1em;
    }
    .card-text {
      font-size: 1em;
      color: rgb(240, 208, 208);
    }
  }
  .star {
    width: 5% !important;
  }
}

@media (max-width: 375px) {
  .countdown-wrap #count {
    font-size: 1.8em !important;
  }
  .countdown-wrap .content {
    font-size: 1em !important;
  }
  .calendar-wrapp .calendar-number {
    font-size: 2.3em !important;
    line-height: 1em !important;
  }
  .story-card,
  .song-card,
  .craft-card,
  .mom-card {
    .card-body {
      .card-text {
        font-size: 1em;
        color: rgb(229, 243, 237);
      }
    }
  }
}

//snow code at https://trungk18.com/experience/angular-snow-effect/

@media screen and (min-width: 810px) {
  .story-card .nav-menu,
  .song-card .nav-menu,
  .craft-card .nav-menu,
  .mom-card .nav-menu {
    float: right;
  }
}

@media screen and (min-width: 1900px) {
  .calendar-wrapp #day {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
  }
  .countdown-wrap #count {
    font-size: 1.8em !important;
  }
  .countdown-wrap .content {
    font-size: 3em !important;
  }
  .calendar-wrapp .calendar-number {
    font-size: 4em !important;
    line-height: 1.2em !important;
  }
}
